Package: com.yourcompany.hidebat
Name: hidebat
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: chilaxan
Author: chilaxan
Section: Tweaks
Version: 0.0.0.2-6+debug
Installed-Size: 117
Depiction: https://xstylemod.github.io/depictions/?p=com.yourcompany.hidebat
