Package: com.chilaxan.clocknday
Name: Clock and Day Widget
Depends: mobilesubstrate
Version: 0.0.1
Depiction: https://xstylemod.github.io/depictions/?p=com.chilaxan.clocknday
Architecture: iphoneos-arm
Description: XenHTML SBHTML Widget!
Maintainer: chilaxan
Author: ZeusiPx
Section: Widget
